* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  font-family: 'Josefin Sans', sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.main-container {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 2fr 1fr;
}

.left-container {
}

.left-container-inside {
  padding-left: 100px;
  padding-right: 100px;

  margin-top: 4.375rem;
}

.left-container-inside > img {
  margin-bottom: 10rem;
}

.text-one {
  color: hsl(0, 36%, 70%);
  font-size: 4rem;
  font-weight: 200;
  text-transform: uppercase;
  letter-spacing: 1rem;
}

.text-two-one {
  letter-spacing: 1rem;
  text-transform: uppercase;
  font-size: 4rem;
  font-weight: 400;
}

.text-two-two {
  letter-spacing: 1rem;
  text-transform: uppercase;
  font-size: 4rem;
  font-weight: 400;
}

.text-two-container {
  margin-bottom: 2rem;
}

.description {
  color: hsl(0, 36%, 70%);
  opacity: 0.7;
  line-height: 1.5rem;
  font-weight: 400;

  width: 100%;
  max-width: 27rem;
  margin-bottom: 2.5rem;
}

.email-address-container {
  width: 100%;
  max-width: 27rem;
  position: relative;
}

input::placeholder {
  color: hsl(0, 36%, 70%);
}

input:invalid {
  color: hsl(0, 93%, 68%);
}

input {
  border-radius: 2rem;
  border-width: 0.1rem;
  border-style: solid;
  border-color: hsl(0, 36%, 70%);

  text-indent: 1.5rem;

  width: 100%;
  height: 2.5rem;

  opacity: 0.4;
  outline: none;
}

button:hover {
  box-shadow: 0px 8px 10px 1px hsl(0, 80%, 86%);

  /* scaled by 2% */
  height: 2.55rem;
  width: 4.794rem;

  top: -2%;
}

button {
  height: 2.5rem;
  width: 4.7rem;
  border-radius: 2rem;

  border-width: 0;

  display: flex;
  justify-content: center;
  align-items: center;

  position: absolute;
  top: 0%;
  right: 0%;

  background-image: linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%));

  cursor: pointer;
}

.disable {
  display: none;
}
